{% extends 'base.html' %}

{% block title %}
Работы автора {{ author.username }}
{% endblock %}

{% block content %}

Автор
{{ author.username }}
      {% if author.profile.bio %}
        
          {{ author.profile.bio }}
        
      {% endif %}
    

   {% for post in posts %}



        {% with post.photos.first as cover %}
            {% if cover %}
                
            {% endif %}
        {% endwith %}

        
                {{ post.title }}
            
                {{ post.published_at|date:"d.m.Y" }}
            
[
                Открыть
            ]({% url 'gallery:post_detail' post.slug %})
{% empty %}
У автора пока нет опубликованных работ
{% endfor %}


{% if is_paginated %}
    
        
                
                    {% if page_obj.has_previous %}

                        
[

                                <i class="bi bi-chevron-left"></i>

                            ](?page={{ page_obj.previous_page_number }})
                    {% else %}

                        
<i class="bi bi-chevron-left"></i>
                    {% endif %}


                    {% for num in paginator.page_range %}

                        {% if page_obj.number == num %}

                            
                                {{ num }}

                            
                        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}

                            
[

                                {{ num }}

                            ](?page={{ num }})
                        {% endif %}

                    {% endfor %}


                    {% if page_obj.has_next %}

                        
[

                                <i class="bi bi-chevron-right"></i>

                            ](?page={{ page_obj.next_page_number }})
                    {% else %}

                        
<i class="bi bi-chevron-right"></i>
                    {% endif %}

                
            

            
                {{ paginator.count }} фотографий
                · показано {{ page_obj.start_index }}–{{ page_obj.end_index }}
            
        
    
{% endif %}

    

{% endblock %}